{% extends "base.html" %}
{% block content %}

  <div class="p-4 text-center">
    <h2 class="fs-5 mt-2 mb-4">{{ title }}</h2>

    <p>Specs</p>
    <div class="mb-4 mx-auto" style="width:fit-content;">{{ tbl_specs | safe }}</div>

    <p>Rate tables</p>
    {% for caption, tbl_border in tbl_borders %}
      <div class="mb-1">{{ caption }}</div>
      <div class="mb-4 mx-auto" style="width:fit-content">{{ tbl_border | safe }}</div>
    {% endfor %}

    <p>Result</p>
    <div class="mb-2 mx-auto" style="width:fit-content;">{{ tbl_result | safe }}</div>
    
    <div class="mb-4">
      <img src="data:image/png;base64,{{ plot_img }}" alt="Image", width="420"/>
    </div>

  </div>

{% endblock%}