{% extends "base.html" %}
{% block content %}

  <div class="p-4 text-center">
    <h2 class="fs-5 mt-2 mb-4 text-secondary">{{ title }}</h2>

    <p>Spec</p>
    <div class="mb-4 mx-auto" style="width:fit-content;">{{ tbl_spec | safe }}</div>

    <p>Border</p>
    <div class="mb-4 mx-auto" style="width:fit-content">{{ tbl_border | safe }}</div>
    
    <p>Result</p>
    <div class="mb-2 mx-auto" style="width:fit-content;">{{ tbl_result | safe }}</div>
    
    <div class="mb-4">
      <img src="data:image/png;base64,{{ img_data }}" alt="Image", width="420"/>
    </div>

  </div>

{% endblock%}