{% extends "base.html" %}
{% block content %}

  <div class="p-4 text-center">
    <h2 class="fs-5 mt-2 mb-4">{{ title }}</h2>

    <p>Specs</p>
    <div class="mb-4 mx-auto" style="width:fit-content;">{{ tbl_specs | safe }}</div>

    <p>Rate</p>
    <div class="mb-4 mx-auto" style="width:fit-content">{{ tbl_border | safe }}</div>
    
    <p>Theoretical rate</p>
    <div class="mb-4 mx-auto" style="width:fit-content;">{{ tbl_result | safe }}</div>
    
    <p>Actual rate</p>
    <div class="mb-4 mx-auto" style="width:fit-content;">{{ tbl_actual | safe }}</div>

    <div class="mb-4">
      <img src="data:image/png;base64,{{ plot_img }}" alt="Image", width="420"/>
    </div>

    <p>Machines</p>
    <div class="mb-4 mx-auto" style="width:fit-content;">{{ tbl_machine | safe }}</div>

  </div>

{% endblock%}